/*ĐĂNG NHẬP*/
body {
  background: linear-gradient(135deg, #f1f5f9, #e2e8f0);
  font-family: "Segoe UI", sans-serif;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Card */
.auth-container {
  background: white;
  width: 380px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #0f172a;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  background: #f8fafc;
}

.form-group input:focus {
  border-color: #2563eb;
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.btn:hover {
  background: #1e40af;
}

.link-text {
  text-align: center;
  margin-top: 15px;
}

.link-text a {
  color: #2563eb;
  text-decoration: none;
}

/*ĐĂNG KÝ*/
body {
  background: linear-gradient(135deg, #e0f2fe, #f8fafc);
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  background: white;
  width: 420px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

h2 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #94a3b8;
  border-radius: 8px;
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  background: #1d4ed8;
}

/*QUÊN MẬT KHẨU*/
body {
  background: linear-gradient(135deg, #f8fafc, #e5e7eb);
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  background: white;
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

h2 {
  text-align: center;
  color: #0f172a;
}

.msg {
  background: #f1f5f9;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
}

.btn {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

/*CẬP NHẬT MẬT KHẨU*/
body {
  background: linear-gradient(135deg, #e0f2fe, #f1f5f9);
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  background: white;
  width: 400px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.12);
}

h2 {
  text-align: center;
  color: #1e293b;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #94a3b8;
  margin-bottom: 12px;
}

.btn {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
}
